<div class="container">
    <h2>Login Form</h2>
    <form class="example-form" [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
        <div class="row">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>User Name</mat-label>
                <input type="text" placeholder="Enter your name" matInput id="username" formControlName="username">
                <mat-error *ngIf="this.loginFormGroup.get('username')?.touched && this.loginFormGroup.get('username')?.hasError('required')">
                    Username is required</mat-error>
                <mat-error *ngIf="this.loginFormGroup.get('username')?.touched && this.loginFormGroup.get('username')?.hasError('username')">
                    Username must be a valid Username</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input placeholder="Enter your password" value="" type="password" matInput id="password" formControlName="password">
                <mat-error *ngIf="this.loginFormGroup.get('password')?.touched && this.loginFormGroup.get('password')?.hasError('required')">
                 Password is required</mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" [disabled]="!loginFormGroup.valid" type="submit">Login</button>
        <span *ngIf="show">Logged in as {{rolez}}</span>
    </form>
</div>

