.nav-item{
    font-size: 25px;
    transition: transform .2s;
  }

.nav-item:hover{
  transform: scale(1.2);
  padding-left: 30px;
  padding-right: 30px;
}

a.nav-link{
  transition: transform .2s;
}

a.nav-link:hover{
  border: 2px solid #DC3545;
  text-align: center;
}