<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="home">
          <img src="../../assets/logo-transparent.png" width="70" height="70" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="newproduct">New Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="loginsignup">Log In</a>
          </li>
        
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" role="search">
          
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
      </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
