<div class="container">
    <h1 class="title">About Us</h1>
    <p>
        Welcome to our PC Parts Store! We are your one-stop destination for all your computing needs. With a wide range of high-quality PC components and accessories, we strive to provide exceptional products and excellent service to tech enthusiasts, gamers, and professionals alike.
    </p>
    <p>Thank you for choosing our PC Parts Store as your go-to destination for all things PC. We look forward to serving you and helping you bring your computing dreams to life.
    </p>
</div>

<section>
    <div class="container">
        <h1 class="title">Contact Us!</h1>
        <h2>Store Information</h2>
        <p>Address: 123 Main Street, City, State, ZIP</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@example.com</p>

        <h2>Customer Support</h2>
        <p>For any inquiries or assistance, please reach out to our customer support team:</p>
        <p>Phone: (987) 654-3210</p>
        <p>Email: support@example.com</p>

        <h2>Business Hours</h2>
        <p>Monday - Friday: 9:00 AM to 6:00 PM</p>
        <p>Saturday: 10:00 AM to 4:00 PM</p>
        <p>Sunday: Closed</p>

        <h2>Social Media</h2>
        <div class="row">
            <a href="https://www.facebook.com/" target="_blank"><img class="img-responsive" src="../../../assets/5296499_fb_facebook_facebook logo_icon.png" alt="facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="img-responsive" src="../../../assets/3225191_app_instagram_logo_media_popular_icon.png" alt="instagram"></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><img class="img-responsive" src="../../../assets/291710_twitter_social media_tweet_bird_social_icon.png" alt="twitter"></a>
            <a href="https://www.linkedin.com/feed/" target="_blank"><img class="img-responsive" src="../../../assets/291709_logo_linked in_social network_social_social media_icon.png" alt="linked in"></a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h1 class="title">Location</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3231.7233254162034!2d14.437989712504049!3d35.90479131754441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzXCsDU0JzE3LjIiTiAxNMKwMjYnMjYuMSJF!5e0!3m2!1sen!2smt!4v1688084976336!5m2!1sen!2smt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>


